{% extends 'base.html' %}


{% block content %}
    <section>
      <h1 class="text-center mt-6" style="color: white; margin-bottom: 10px;">{{ post_name }}</h1>
      <div class="flex">
          {% for candidaten in length %}
              <div class="card" id="vote1">
                  <div class="card-body">
                    <img style="width: 200px;" src={{ imgs[candidaten] }} />

                    <h2>{{ candidates[candidaten] }}</h2>
                    <p>{{ post_name }}</p>
                  </div>
              </div>
          {% endfor %}
      </div>

        <form class="form" method="POST" style="margin-top: 20px;">
            <div class="input-group">
                <label for="selectCandidate" style="color: white;">Choose who you want to vote for:</label>
                <select id="selectCandidate" name="candidate_select">
                    {% for candidate in candidates %}
                        <option value='{{ candidate }}'>{{ candidate }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn block" type="submit">Continue <i class="fas fa-arrow-right-long"></i></button>
          <h3 style="margin-top: 10px;">Please only click the button once</h3>
        </form>


    </section>
{% endblock %}